---
layout: default
title: Blog
slug: blog
---

<div class="headingStripe">
	<div class="sheet">
		<h2>Official <strong>Blog</strong></h2>
		<span class="subtitle">Insights from our products, technology and company culture</span>
	</div>
</div>
<article class="article-static article-blog sheet">
	<ul class="posts">
		{% for post in site.posts %}
		<li class="post boxAlternative">
			{% if post.date %}<time class="post-timestamp">{{ post.date | date_to_string }}</time>{% endif %}
			<h4 class="post-title"><a href="{{ post.url }}" class="post-title-link">{{ post.title }}</a></h4>
			{% if post.tags %}
				<p class="post-tags tags nowrap">
					{% for tag in post.tags %}
						<span class="tag">{{ tag }}</span>
					{% endfor %}
				</p>
			{% endif %}
			{% if post.owner %}<p class="post-owner">by {{ post.owner }}</p>{% endif %}
			<div class="post-content">
				{% if post.content contains '<!--more-->' %}
					{{ post.content | split:'<!--more-->' | first }}
					<a class="post-more" href="{{ post.url }}"><button>Read More</button></a>
				{% else %}
					{{ post.content }}
				{% endif %}
			</div>
		</li>
		{% endfor %}
	</ul>
</article>
